# Build artifacts
dist/
terraform-provider-authzed
# IDE files
.idea/
.vscode/
# Go files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
# Terraform state
*.tfstate
*.tfstate.backup

# Local smoke-test TF and envs, and Terraform working files
*.env
smoke-test.tf
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
